.footer2 {
    background: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    /* background-color: red; */
    flex-wrap: wrap;
    padding: 2rem 2rem 4rem 2rem;
}

.footer2 * {
    z-index: 10 !important;
}

.footer2 .left-col {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
}
.footer2 .right-col {
    /* background-color: rgba(255, 255, 0, 0.443); */
    width: 40%;
    /* border: 2px solid red; */
}
.footer2 .left-col .logo {
    width: 100%;
    max-width: 200px;
}
.footer2 .left-col .logo img {
    width: 100%;
    height: 100%;
}
.footer2 .left-col .name {
    color: white;
    font-weight: 600;
    color: rgb(255, 0, 0) !important;
    font-size: 30px;
}
.footer2 .left-col .logos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

.footer2 .left-col .logos .item {
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.footer2 .left-col .logos .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer2 .left-col .logos .divider {
    width: 2px;
    height: 80px;
    background-color: white;
    margin: 0 10px;
}
.footer2 .left-col .address {
    color: rgb(208, 208, 208, 0.75);
    font-size: 15px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.footer2 .left-col a {
    color: rgb(208, 208, 208, 0.75);
    transition: all ease 0.2s;
}
.footer2 .left-col a:hover {
    color: var(--primary);
}

.footer2 .right-col-2 {
    background-color: pink;
}
.footer2 .right-col .title {
    font-size: 20px;
    /* font-weight: 800; */
    margin-left: 0px;
    padding: 10px 0;
}
.footer2 .right-col .contacts {
    display: flex;
    width: 100%;
    /* justify-content: end; */
    flex-wrap: wrap;
    gap: 20px;
}
.footer2 .right-col .contacts .contact {
    width: 17ch;
}
.footer2 .right-col .contacts .contact .name {
    color: rgba(255, 255, 255, 0.783);
}
.footer2 .right-col .contacts .contact .ph-num {
    color: rgba(255, 255, 255, 0.466);
}

.footer2 .right-col .contacts .contact .ph-num .material-icons {
    position: relative;
    top: 5px;
    left: -2px;
    /* margin-right: 3px; */
}

.footer2 .social {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0rem;
    /* padding-bottom: 1rem; */
    gap: 1rem;
}

.footer2 .social .social-h {
    text-align: right;
    font-size: 20px;
    /* font-weight: 800; */
    width: 100%;
}

.footer2 .social .social-icons {
    /* background-color: green; */
    width: min(100%, 400px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: row wrap;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 490px) {
    .footer2 {
        flex-direction: column;
        gap: 2rem;
    }

    .footer2 .left-col,
    .right-col,
    .social {
        width: 100% !important;
    }

    .footer2 .social {
        padding: 0rem;
    }
    .footer2 .social .social-h {
        text-align: left;
    }
    .footer2 .social .social-icons {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.footer2 .right-col {
    max-width: 624px;
}

.iconn {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--accent2);
    transition: all 0.3s ease;
}

.iconn:hover {
    fill: #fff;
    cursor: pointer;
    /* transform: scale(2) */
}

.topimg {
    width: 100%;
    align-self: end;
    position: relative;
    bottom: -30px;
    transform: scale(1.3);
    transform-origin: bottom;
}

.topimg img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 720px){
	.topimg {
		width: 2500px;
		transform: translateX(-300px);
        bottom: -10vw;
	}
}