.avatar {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 200px;
    margin: 1rem 0
}

.avatar-img {
    position: relative;
    z-index: 1;
}

.back {
    position: absolute;
    z-index: 0;
    width: 170px;
    height: 170px;
    background-color: var(--accent2);
    opacity: 0.6;
    border-radius: 50%;
    top: -2px;
    right: 0px;
}

.avatar .title {
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    margin: 0.3rem 0;
}

.avatar .subtitle {
    font-size: 1rem;
    opacity: 0.6;
    font-weight: 300;
    text-transform: capitalize;
    font-style: italic;
}

.avatar .phone {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
