#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* width: min(100%, 1500px); */
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.App{
  width: 100%;
  overflow: clip;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.css-1pxa9xg-MuiAlert-message {
  color: #fff !important
}