.button {
	padding: 12px 25px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 15px;
	cursor: pointer;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	gap: 10px;
	/* line-height: 18px; */
	background-color: var(--accent2);
	transition: 0.25s all;
	position: relative;
}
.button .before {
	font-size: 12px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 1rem;
	top: 2px;
	opacity: 0;
	height: 100%;
	width: 0;
	transition: all 0.2s linear 0s;
	color: white;
}
.button .before .material-icons {
	font-size: 15px;
}
.button:hover .before {
	opacity: 1;
	text-indent: 0px;
	width: 0px;
}
.button .start-icon .material-icons,
.button .end-icon .material-icons {
	font-size: 15px;
	height: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.button:hover {
	box-shadow: 0px 0px 10px var(--accent2);
}

.button.small {
	font-size: 12px;
}
.button.large {
	font-size: 20px;
	padding: 15px 25px;
	font-weight: 600;
}
.button.icon {
	padding: 10px;
	border-radius: 50%;
}
.button.text {
	background-color: transparent;
}

.button .loading {
	animation: loading infinite linear 1s;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-180deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.button.disabled {
	color: rgb(216, 216, 216);
	cursor: not-allowed
}
