.collage-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  width: 100vw;
  height: 100vw;
  max-width: 1000px;
  max-height: 1000px;
  position: relative;
  margin: auto;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.collage-item {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(50px) scale(0.5);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.item-0 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.item-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.item-2 {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
}
.item-3 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.item-4 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.item-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.item-6 {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}
.item-7 {
  grid-column: 4 / 6;
  grid-row: 3 / 5;
}
.item-8 {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
}
.item-9 {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
}
.item-10 {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}
.item-11 {
  grid-column: 6 / 7;
  grid-row: 3 / 5;
}
.item-12 {
  grid-column: 7 / 8;
  grid-row: 2 / 4;
}

.collage-container.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.collage-container.visible .collage-item {
  opacity: 1;
  transform: translateY(0);
}
/* 
.collage-container.visible .collage-item:nth-child(11) {
  transition-delay: 0.1s;
}
.collage-container.visible .collage-item:nth-child(9) {
  transition-delay: 0.2s;
}
.collage-container.visible .collage-item:nth-child(10) {
  transition-delay: 0.3s;
}
.collage-container.visible .collage-item:nth-child(7) {
  transition-delay: 0.4s;
}
.collage-container.visible .collage-item:nth-child(12) {
  transition-delay: 0.5s;
}
.collage-container.visible .collage-item:nth-child(8) {
  transition-delay: 0.6s;
}
.collage-container.visible .collage-item:nth-child(6) {
  transition-delay: 0.7s;
}
.collage-container.visible .collage-item:nth-child(5) {
  transition-delay: 0.8s;
}
.collage-container.visible .collage-item:nth-child(4) {
  transition-delay: 0.9s;
}
.collage-container.visible .collage-item:nth-child(3) {
  transition-delay: 1s;
}
.collage-container.visible .collage-item:nth-child(13) {
  transition-delay: 1.1s;
}
.collage-container.visible .collage-item:nth-child(1) {
  transition-delay: 1.2s;
}
.collage-container.visible .collage-item:nth-child(2) {
  transition-delay: 1.3s;
} */

.collage-container.visible .collage-item:nth-child(2) {
  transition-delay: 0.1s;
}
.collage-container.visible .collage-item:nth-child(1) {
  transition-delay: 0.2s;
}
.collage-container.visible .collage-item:nth-child(13) {
  transition-delay: 0.3s;
}
.collage-container.visible .collage-item:nth-child(3) {
  transition-delay: 0.4s;
}
.collage-container.visible .collage-item:nth-child(4) {
  transition-delay: 0.5s;
}
.collage-container.visible .collage-item:nth-child(5) {
  transition-delay: 0.6s;
}
.collage-container.visible .collage-item:nth-child(6) {
  transition-delay: 0.7s;
}
.collage-container.visible .collage-item:nth-child(8) {
  transition-delay: 0.8s;
}
.collage-container.visible .collage-item:nth-child(12) {
  transition-delay: 0.9s;
}
.collage-container.visible .collage-item:nth-child(7) {
  transition-delay: 1s;
}
.collage-container.visible .collage-item:nth-child(10) {
  transition-delay: 1.1s;
}
.collage-container.visible .collage-item:nth-child(9) {
  transition-delay: 1.2s;
}
.collage-container.visible .collage-item:nth-child(11) {
  transition-delay: 1.3s;
}
