@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


.sponsorship-timeline-container {
    width: 100%;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1rem;
    overflow: hidden;
}

.timeline-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    position: relative;
    align-items: center;
    justify-items: center;
}

.timeline-line-bg {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    justify-self: center;
    z-index: 1;
}

.timeline-amount {
    font-family: "Sedgwick Ave Display", serif;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1;
}

.timeline-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.timeline-title {
    font-family: "Sedgwick Ave Display", serif;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    line-height: 1.1;
    letter-spacing: 2px;
}

.timeline-amount.item-0 {
    grid-column: 1;
    grid-row: 1;
}

.timeline-amount.item-1 {
    grid-column: 2;
    grid-row: 1;
}

.timeline-amount.item-2 {
    grid-column: 3;
    grid-row: 1;
}

.timeline-amount.item-3 {
    grid-column: 4;
    grid-row: 1;
}

.timeline-dot.item-0 {
    grid-column: 1;
    grid-row: 2;
}

.timeline-dot.item-1 {
    grid-column: 2;
    grid-row: 2;
}

.timeline-dot.item-2 {
    grid-column: 3;
    grid-row: 2;
}

.timeline-dot.item-3 {
    grid-column: 4;
    grid-row: 2;
}

.timeline-title.item-0 {
    grid-column: 1;
    grid-row: 3;
}

.timeline-title.item-1 {
    grid-column: 2;
    grid-row: 3;
}

.timeline-title.item-2 {
    grid-column: 3;
    grid-row: 3;
}

.timeline-title.item-3 {
    grid-column: 4;
    grid-row: 3;
}


@media (max-width: 1000px) {
    .timeline-title {
        font-size: 2rem;
    }

    .timeline-amount {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .timeline-title {
        font-size: 1.6rem;
    }

    .timeline-amount {
        font-size: 1.2rem;
    }

    .timeline-dot {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 550px) {
    .timeline-items {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: 3rem;
    }

    .timeline-line-bg {
        grid-row: 1 / -1;
        grid-column: 2;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .timeline-amount.item-0 {
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
    }

    .timeline-amount.item-1 {
        grid-column: 1;
        grid-row: 2;
        justify-self: end;
    }

    .timeline-amount.item-2 {
        grid-column: 1;
        grid-row: 3;
        justify-self: end;
    }

    .timeline-amount.item-3 {
        grid-column: 1;
        grid-row: 4;
        justify-self: end;
    }

    .timeline-dot.item-0 {
        grid-column: 2;
        grid-row: 1;
    }

    .timeline-dot.item-1 {
        grid-column: 2;
        grid-row: 2;
    }

    .timeline-dot.item-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .timeline-dot.item-3 {
        grid-column: 2;
        grid-row: 4;
    }

    .timeline-title.item-0 {
        grid-column: 3;
        grid-row: 1;
        justify-self: start;
        text-align: left;
    }

    .timeline-title.item-1 {
        grid-column: 3;
        grid-row: 2;
        justify-self: start;
        text-align: left;
    }

    .timeline-title.item-2 {
        grid-column: 3;
        grid-row: 3;
        justify-self: start;
        text-align: left;
    }

    .timeline-title.item-3 {
        grid-column: 3;
        grid-row: 4;
        justify-self: start;
        text-align: left;
    }

    .timeline-title {
        font-size: 2rem;
    }

    .timeline-amount {
        font-size: 1.6rem;
    }
}