.home {
  position: relative;
  font-size: 30px;
  max-width: 100%;
  /* border: 1px solid red; */
  /* overflow-x: hidden; */
  animation: fadeIn 0.5s linear forwards;
}
.home .wave-bg {
  position: absolute;
  z-index: -10;
  opacity: 80%;
  width: 100%;
  top: 80vh;
}
.home .wave-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home section {
  width: 100%;
}
.home .section-1 {
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}
.home .section-1 .heading {
  z-index: 1;
  margin-top: 50px;
}
.home .section-1 .cover-img {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  margin-bottom: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .section-1 .cover-img img {
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  margin-bottom: 0px;
  object-fit: contain;
  border: 0px solid red;
  max-width: 1600px;

}
.home .section-2 .banner {
  font-family: var(--display-font);
  font-weight: 700;
  background-color: var(--accent2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0;
  gap: 10px;
  font-size: 2.2rem;
}

.home .section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 0;
  padding: 2.5rem;
}

.home .section-3 h4 {
  color: var(--accent1);
  text-align: center;
  font-family: var(--display-font);
  font-size: 2rem;
}

.home .section-3 h1 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 8rem;
  letter-spacing: 0.07em;
  line-height: 1em;
}

.home .section-3 p {
  text-align: center;
  width: min(100%, 55rem);
  line-height: 1.2em;
  font-size: 1.4rem;
  font-weight: 100;
  padding-top: 2rem;
}

.home .section-4 {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .section-4 .row {
  width: 100%;
  padding: 0 5%;
  max-width: 1200px
}
.home .section-4 .row .heading {
  align-items: flex-end;
}
.home .section-4 .row .heading .title {
  text-align: left;
  background: linear-gradient(87deg, #5075f6 0.67%, #705dea 103.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
.home .section-4 .row .heading .sub-title {
  
  text-align: right;
  color: white;
  font-size: 40px;
}
.home .section-4 .row .contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  font-size: 1.4rem;
  /* line-height: 1.6; */
  width: 100%;
}
.home .section-4 .collage {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
}
.home .section-4 .collage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0 20px;
}
@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
  .home {
    font-size: 20px;
    line-height: 1.4;
  }
  .home .section-1 .cover-img {
    width: 100%;
  }
  .home .section-2 .banner .display-font {
    font-size: 30px;
    text-align: center;
  }
  /* .home .section-3 .list .list-scroller {
    gap: 20px;
  } */
  .home .section-4 {
    margin-top: 50px;
  }
  .home .section-4 .row .heading .title {
    font-size: 50px;
  }
  .home .section-4 .row .heading .sub-title {
    font-size: 30px;
  }
  .home .section-4 .row .contents {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .home .section-1 {
    height: 80vh;
    margin-top: 10vh;
  }
  .home .section-1 .cover-img {
    width: 150%;
  }
  .home .section-2 .banner {
    gap: 20px;
    padding: 40px 20px;
  }
  .home .section-2 .banner .display-font {
    font-size: 30px;
    text-align: center;
  }
  /* .home .section-3 .list .list-scroller {
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
  } */
  /* .home .section-3 .list .list-scroller .artist .img {
    height: 200px;
  } */
  .home .section-3 .list .list-scroller .artist .display-font {
    /* width: 110%; */
    text-align: center;
    font-size: 30px;
  }
  .home .section-3 .controls {
    display: none;
  }
  .home .section-4 .row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
  }
  .home .section-4 .row .heading {
    align-items: flex-start;
    padding: 40px 0;
  }
  .home .section-4 .collage {
    margin: auto;
    margin-top: 40px;
    border: 0px solid red;
  }
}

/* the infinite horizontal scroll effect */
/* in experimental state, will be finalised if success */

@keyframes infinitescroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.home .section-3 .list {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.home .section-3 .list .list-scroller {
  animation: infinitescroll 20s linear infinite;
}
/* .home .section-3 .list:hover  .list-scroller,
.home .section-3 .list:active .list-scroller{
  animation-play-state: paused;
} */
