.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0px solid red;
    padding: 10px 1rem;
    background-color: var(--app-background);
    margin: 0;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 100;
    color: black;
    border: 0px solid yellow;
}
.navbar .left-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .left-col .button {
    padding: 10px;
}
.navbar .left-col .logo {
    width: 150px;
}
.navbar .left-col .logo img {
    width: 100%;
}
.navbar .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: white;
    transition: 0.25s all;
    height: 100%;
    border: 0px solid red;
}
.navbar .nav-items .item {
    transition: 0.25s all;
    cursor: pointer;

    font-size: 1rem;
    color: var(--purple);
    color: rgb(255, 255, 255);
    position: relative;
    transition: 0.25s all;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar .nav-items .item:hover,
.navbar .nav-items .item.active {
    color: var(--primary);
    content: "";
    transition: 0.25s all;
}
.navbar .nav-items .item::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1.5px;
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: center;
    transition: all ease 0.2s;
}
.navbar .nav-items .item.active::before {
    transform: scaleX(1);
}

.MuiPaper-root::before {
    background-color: #1D1D1D !important;
}

.drawer {
    position: relative;
	background-color: #171717
}
.MuiDrawer-paper {
    background: url("/assets/imgs/menu.webp"), linear-gradient(#000 80%, #000 20%)!important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.drawer .button.drawer-close-btn {
    /* position: absolute;
    top: 40px;
    right: 20px; */
}
/* .drawer .logo{
	width: 200px;
	border: 0px solid red;
	padding: 2rem;
} */
/* .drawer .logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
} */
.drawer .nav-items {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 1.5rem;
    margin-top: 3rem;
	text-shadow: 0 0 5px #000;
}
.drawer .nav-items .item {
    color: white;
    padding: 0 20px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;

    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.drawer .nav-items .item .item-header {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.drawer .nav-items .sub-items {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.drawer .nav-items .sub-items .item {
    font-weight: 500;
    font-size: 1.2rem;
}
.drawer .nav-items .item:hover,
.drawer .nav-items .item:focus {
    color: var(--primary);
}
.drawer .nav-items .item.active {
    color: var(--primary);
}

.navbar .menu ul {
    display: flex;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    /* margin-right: 50px; */
}
.navbar .menu ul li {
    list-style: none;
    /* margin: 0 10px; */
    /* border: 1px solid blue; */
}
.navbar .menu ul li a {
    text-decoration: none;
    /* color: #0c0c0c; */
}
.navbar .menu ul .nav-item {
    color: rgb(99, 99, 99);
    padding: 10px;
    font-size: 1.5rem;
    transition: 0.25s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 50px;
	height: 50px; */
    transition: 0.25s all;
    cursor: pointer;
}
.navbar .menu ul .nav-item a {
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.navbar .menu ul .nav-item:hover {
    color: #4b84ce;
}
.navbar .menu ul .nav-item .material-icons {
    color: inherit;
    font-size: inherit;
    /* border: 1px solid red; */
    margin: 0;
}
.navbar .menu ul .nav-item i {
    /* line-height: 0; */
    /* border: 1px solid red; */
    margin: 0;
}
@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
    .navbar .nav-items {
        gap: 30px;
    }
    .navbar .nav-items .item {
        font-size: 1rem;
    }
}

.MuiList-Root {
    margin-top: 1rem !important;
}

.MuiListItemButton-root * {
    font-size: 1.5rem !important;
    font-family: 'Exo 2' !important;
    width: 100%;
    font-weight: 600 !important;
    padding-left: 0.5rem;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .navbar {
        /* background-color: transparent; */
        padding: 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 70px;
        border: 0px solid red;
    }
    .navbar .left-col {
		display: flex;
        justify-content: start;
		align-items: center;
        width: 100%;
		gap: 0px
    }
}

#party-video {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
